@charset "UTF-8";

@media screen and (min-width: 768px) {
    body {
        background: url(../imagens/back-tablet.jpg) ;
    }
    img#fone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tev{display: none;}
}

@media screen and (min-width: 992px) {
    body {
        background: url(../imagens/back-pc.jpg) ;
    }
    img#fone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tev{display: none;}
}

@media screen and (min-width: 1200px) {
    body {
        background: url(../imagens/back-tv.jpg) ;
    }
    img#fone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tev{display: block;}
}