@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

/***** CONFIGURAÇÕES INICIAIS *****/
:root {
    --font01 :'Sriracha', cursive;
    --font02 :'Passion One', cursive;
    --font03 : Verdana, Geneva, Tahoma, sans-serif;
    --cor01 : #ffffff;
    --cor02 : #000000;
    --cor03 : #00000066;
}

* {
    margin: 0px;
    padding: 0px;
}
html, body {
    min-height: 100vh;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor01);
}
a:hover {
    text-decoration: underline;
}

/***** CABEÇALHO *****/
#cabecalho {
    width: 100%;
    background-color: var(--cor02);
    text-align: center;
    color: var(--cor01);
}
#cabecalho h1 {
    font-family: var(--font02);
    font-size: 10vw;
    font-variant: small-caps;
    padding-top: 50px;
}
#cabecalho p {
    font-family: var(--font03);
    padding-bottom: 50px;
}

/****** CORPO *******/
section {
    font-family: var(--font01);
    font-size: 3.5vw;
    padding-top: 10Vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}
.boximg01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px var(--cor03);
}

.boximg02 {
    background-image: url('../imagens/background002.jpg');
    background-position: top right;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px var(--cor03);
}
.boximg01 p, .boximg02 p {
    display: inline-block;
    background-color: var(--cor03);
    color: var(--cor01);
    padding: 20px;
    border-radius: 30px;
    text-shadow: 1px 1px 3px var(--cor02);
}

/****** RODAPÉ ******/
#rodape {
    background-color: var(--cor02);
}
#rodape p {
    font-family: var(--font03);
    color: var(--cor01);
    text-align: center;
    padding: 10px;
}